#wpgmo-template-manager{padding:20px;background:#fff;border:1px solid #ccc}
#wpgmo-template-manager .wpgmo-row{display:flex;margin-bottom:10px}
#wpgmo-template-manager .wpgmo-cell{border:1px dashed #999;padding:10px;flex:1;margin-right:10px}
